/* .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
} */

.profile-photo {
    background-color: gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.profile-informations p {
    margin: 0;
    font-weight: 500;
}

.profile-informations p:last-child{
    font-size: 0.8rem;
    opacity: 0.9;
    font-weight: 400;
}

.profile-logout button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.8em;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.25s;
    cursor: pointer;
}

.profile-logout button:hover{
    background-color: gray;
}

.profile-logout button img {
    width: 20px;
}